
body {
	text-align: center;
	color: black;
	
	background-color: gray;
	font-family: Futura, sans-serif;

}

h1 {
	font-weight: bold;
	color: orange;
	font-size: 38px

}

a {
	color: white;
	text-decoration: none;
	font-style: italic;
}

a:hover {
	color: blue;
}