@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');


* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	padding: 10px;
	color: black;
	line-height: 1.5;
	text-align: center;
	font-size: 16px; /*1em = 16px*/

}

header {
	background-color: #E0E0E0;
	padding: 20px;
	padding-left: 60px;
	text-align: left;
	color: black;
	font-family: 'Montserrat', 'Quicksand', sans-serif;

}

nav {
	text-align: right;
	font-size: 1.5em;
	padding: 10px 40px;

}

img {
	width: 100%;

}

h1 {
	text-align: left;
	font-weight: bold;
	color: #FF7911;
	font-size:2.4em;

}

h2 {
	text-align: center;
	color: white;
	font-size: 3.5em;
	padding: 1.5em;
}

hr{
	border:none;
	height:3px;
	background-color: #3C3C3C;
	width:2em;
	margin:1em auto;
}

a {
	color: gray;
	text-decoration: none;
	font-style: italic;
	margin-right: 10px;
}

footer {
	background-color: #cccccc;
	padding: 10%;
	text-align: center;
}

a:hover {
	color: white;
}

#hero{
	background:url(../image/GD.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:600px;
	padding:20px 0;

}

.creativity{
	width: 52%;
	font-size: 1.3em;
	text-align: center;
	padding:2%;
 	margin: 2em auto;
}

.keyart{
 	width:47%;
	float: left;
	padding-left:2%;
	padding-right: .5%;
}

.logo{
 	width:47%;
	float: right;
	padding-right:2%;
	padding-left: .5%;
}

.print{
 	width:47%;
	float: left;
	padding-left:2%;
	padding-right: .5%;
}

.digital{
 	width:47%;
	float: right;
	padding-right:2%;
	padding-left: .5%;
}

