* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Futura, sans-serif;
	padding: 10px;
	color: black;
	line-height: 1.5;
	text-align: center;

}

header {
	background-color: #E0E0E0;
	padding: 20px;
	padding-left: 60px;
	text-align: left;
	color: black;
	font-family: Futura, sans-serif;

}

ul {
	font-size: 30px;
	padding-bottom: 30px;
	text-align: center;
	list-style-type: none;
}

img {
	width: 100%;

}

h1 {
	text-align: left;
	font-weight: bold;
	color: #FF7911;
	font-size: 38px

}

h2 {
	font-size: 50px;
	font-weight: bold;
	padding: 30px;
}

a {
	color: gray;
	text-decoration: none;
	font-style: italic;
	margin-right: 10px;
}

nav {
	text-align: right;
}

footer {
	background-color: #cccccc;
	padding: 22px;
	text-align: center;
}

a:hover {
	color: white;
}